
<%- include('header'); -%>
<h1>Bonjour <%=nom %> <%=prenom %> habitant à <%=zipcode %> </h1>

<form action="/logout" method="POST"><button class="btn btn-primary"> Déconnecter </button></form>
<%- include('footer') -%>
